.aboutUs {
  color: rgba(255, 255, 255, 0.78);
  position: relative;
  height: 415px;
  width: 100%;


  &__border {
    width: 100%;
    border-top: white 2px solid;
  }
  &__items {
    display: flex;
    justify-content: center;
    padding: 15px;
    margin: 0 auto;
    flex-direction: row;
    gap: 50px;
    &-header {
      position: relative;
      padding: 20px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 29px;
      &::before {
        position: relative;
        content: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/161359/quotes.png");
        color: white;
      }
      &:after {
        &:before {
          content: 'Call To Action';
          position: relative;
          border-top: white 1px solid;
        }
      }
    }
    &-text {
      display: flex;
      justify-content: center;
      font-family: 'Playfair Display', serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 58px;
      width: 400px;
    }
  }
  &__video {
    position: relative;
    display: flex;
    align-items: center;
  }
}
