.description {
  margin-top: 10px;
  display: flex;
  background: #ffffff;


  &__title {

    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #177165;
    margin: 20px;
    width: 100%;

    span {
      font-family: "JetBrains Mono Light", sans-serif;
      font-style: italic;
    }

    &-img {

      object-fit: cover;
      position: relative;
      width: 400px;
      height: 670px;
    }

    &-about {
      margin: 0;
      position: relative;
      background: #bef5b8;
      opacity: 30%;
      padding: 50px;
      font-family: 'Roboto', serif;
      font-weight: 700;
      font-style: italic;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      text-align: center;
    }
  }

  &__subtitle {
    padding: 25px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: #177165;

    &-text {
      text-wrap: normal;
      margin-top: 50px;
      padding: 25px;
      text-align: center;
      font-family: "JetBrains Mono Light", sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.5px;
      line-height: 26px;
      color: #777777;
    }

    &-block {
      justify-content: center;
      position: relative;
      display: flex;
      flex-direction: column;
    }
  }
}
.video {
  box-shadow: 6px 10px teal;
}
@media (max-width: 1398px) {
  .description {
    flex-direction: column;
    align-items: center;
  }
}


@media (max-width: 1025px) {
  .description {
    flex-direction: column;
    align-items: center;
    &__subtitle {
      font-weight: 900;
      font-style: italic;
      &-text {
        margin: 0;
      }
    }

    &__title {
      margin: 0;

      video {
        width: 80%;

      }

      &-img {
        width: 90%;
        height: 100%;
      }
    }
  }
  .aboutUs {
    background-position: 100% 100%;
    font-style: italic;
    text-align: center;
    flex-direction: column;
    overflow-x: hidden;
  &__items {
    &-list ul {
      text-align: left;

    }
  }
  }
}

@media (max-width: 768px) {

  .block {
    max-width: 300px;
  }
  .description {
    &__title {

      margin: 0;

      video {
        width: 80%;

      }

      &-img {
        width: 80%;
        height: 90%;
      }
    }
  }
  .aboutUs {
    flex-direction: column;

  }


}


@media (max-width: 375px) {
  .description {
    &__title {

      &span {
        font-size: 20px;
      }
    }

    .aboutUs {
      display: flex;

      &__items {
        &-header {
          .fa-regular {
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}


