
.footer {
  margin-top: 10px;
  padding-bottom: 30px;
  display: flex;

  .container {
    display: flex;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    background: #1e2e36;
    color: #fff;

    &-logo {
      margin-top: 50px;
      margin-left: 50px;
    }
  }

  &__items {
    padding: 40px 0 40px 0;
    display: flex;

    &_menu {
      width: 300px;
      margin-left: 15px;
      display: flex;
      flex-direction: column;

      &-list {
        font-size: 20px;

        li {
          list-style: none;
          margin-top: 15px;

          a {
            color: #fff;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 125%;
            text-transform: uppercase;
            text-decoration: none;
            transition: 0.3s all;
            position: relative;

            &:hover {
              color: #44c697;
            }


          }

          &::before {
            content: '';
            width: 14px;
            height: 2px;
            background: #44c697;
            display: block;
            position: absolute;
            transform: translate(-20px, 15px);


          }
        }
      }

      &-address {
        font-size: 20px;

        ul {
        }

        li {
          list-style: none;
          font-style: italic;

          a {
            color: #fff;
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 125%;
            text-transform: uppercase;
            text-decoration: none;
            transition: 0.3s all;
            position: relative;

            &:hover {
              color: #44c697;
            }


          }

          &::before {
            content: '';
            width: 14px;
            height: 2px;
            background: #44c697;
            display: block;
            position: absolute;
            transform: translate(-20px, 15px);


          }
        }
      }
    }

    &_info {
      width: 230px;
      margin-left: 30px;
      display: flex;
      flex-direction: column;

      &-map {
        margin-left: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        line-height: 125%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        position: relative;
        background: transparent;

        &::before {
          position: absolute;
          content: '';
          display: block;
          height: 24px;
          width: 24px;
          background-position: center;
          background-size: cover;
          transform: translateX(-25px);

        }
      }

      &-social {
        align-items: center;
        display: flex;
        flex-direction: column;

        .name_director {
          margin: 0;
          color: #44c697;
        }

        .position {
          font-size: 15px;
          text-transform: lowercase;
        }

        &-title {
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 125%;
          color: #ffffff;
          margin-top: 30px;
          padding-left: 35px;
          a {
            img {
              transform: scale(0.8);
              transition: all 0.5s;

              &:hover {
                filter: brightness(0) saturate(100%) invert(80%) sepia(8%) saturate(2685%) hue-rotate(104deg) brightness(83%) contrast(92%);
              }
            }
          }

        }

        &-telephone {
          display: flex;
          flex-direction: column;
          margin-top: 6px;
          .name_director {
            font-style: italic;
          }
          a {
            color: #fff;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 125%;
            text-transform: uppercase;
            text-decoration: none;
            transition: 0.3s all;

            &:hover {
              color: #44c697;
            }
          }

          &-telephons {
            display: flex;
            flex-direction: column;
            position: relative;
            background: transparent;
            padding-left: 24px;
            margin-top: 10px;

            .link {

              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 125%;
              color: #44c697;
            }

            &::before {
              position: absolute;
              content: '';
              display: block;
              height: 24px;
              width: 24px;
              background-image: url("../../assets/telephone2.png");
              background-position: center;
              background-size: cover;
              transform: translateX(-25px);

            }
          }

          &-mail {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            position: relative;
            background: transparent;

            a {
              padding-left: 5px;
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 125%;
              color: #44c697;
            }

            &::before {
              position: absolute;
              content: '';
              display: block;
              height: 24px;
              width: 24px;
              background-image: url("../../assets/mail.svg");
              background-position: center;
              background-size: cover;
              transform: translateX(-25px);

            }
          }
        }

      }

      &-schedule {
        display: flex;
        margin-top: 15px;


        &-descr {
          margin-left: 5px;
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 125%;
          display: flex;
          align-items: center;
          color: #ffffff;
          mix-blend-mode: normal;
        }
      }
    }
  }

  &__map {
    width: 100%;
    height: auto;
    border: none;
  }
}
img.facebook {
  text-align: center;

}

@media (max-width: 1025px) {
  .footer{
    flex-direction: column-reverse;
    &__wrapper{
      &-logo{
        margin: 20px 0 0 0;
      }
    }
    &__items{
      flex-direction: column;
      align-items: center;
      &_info{
        margin: 30px 0 30px 0;
      }
    }
    &__map{
      height: 400px;
    }
  }
}
@media (max-width: 375px) {
  .footer {
    &__wrapper {
      &-logo {

        object-fit: cover;
      }
    }
  }
}