@import "src/style/variables.scss";

.app {
  &__header {
    background-color: $dark;
    height: 80px;
    display: flex;
    justify-content: space-between;

    &-menu {
      display: flex;
      margin-right: 25px;
      gap: 25px;
    }

    &-text {
      margin-top: 7px;
      display: flex;
      font-weight: bold;
      font-size: 20px;
      line-height: 32px;
      color: #FFFFFF;
      padding-left: 23px;

    }

    &-item {
      margin: 0 auto;
      display: flex;
      text-decoration: none;
      align-items: center;
      color: #ffffff;
      position: relative;

      &:hover {
        color: rgba(155, 93, 0, 0.66);
        border-bottom: 4px solid rgba(187, 112, 1, 0.66);;
        transition: .1s ease-in-out;
      }
    }
  }
}

@media (max-width: 768px) {
  .app{
    &__header{
      &-text{
        margin: 0;
        padding: 0;
      }
    }

  }
}