
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: white;
}
.mySwiper {
  &::after, ::before, :before, :after {
    color: white;
  }
}


.mySlide {
  cursor: grab;
  font-family: initial !important;
  height: 300px !important;
}

@media (max-width: 426px) {

  .mySlide {
    height: 300px !important;
  }
  #mySlide {
    width: 300px;

  }
}
@media (max-width: 992px) {
  #mySlide {
    width: 320px;
  }
}
