
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: white;
}
.mySwiper {
  &::after, ::before, :before, :after {
    color: white;
  }
}


.mySlide {
  font-family: initial !important;
  height: 300px !important;
}

@media (max-width: 426px) {
  .mySlide {
    height: 300px !important;
  }
}
