.carousel {
  max-width: 640px;
  margin-bottom: 10px;
   &button {
     color: white;
   }
  &-item {
    width: 640px;
    max-height: 300px;
    img {
      width: 640px;
      max-height: 300px;
      object-fit: cover;
    }
  }
}
